<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"">
    <link rel=" stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <script src="vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>


    <!-- SLIDER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

    <!-- TABS
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css">
    <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script> -->



    <title>Ruby Home</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                <nav class="navigation">
                    <div class="logotype">
                        <a href="#"> <img src="img/logo.svg" alt="" class="logotype__img"></a>
                    </div>
                    <div class="navigation__items">
                        <a href="#" class="navigation__items-item">Home</a>
                        <a href="#" class="navigation__items-item">Properties</a>
                        <a href="#" class="navigation__items-item">About us</a>
                        <a href="#" class="navigation__items-item">Blog</a>
                        <a href="#" class="navigation__items-item">Contact us</a>
                    </div>
                </nav>
            </header>
            <main class="main">
                <div class="main__content-text">
                    <h1 class="main__content-title">Find the perfect place to stay with your family</h1>
                    <p class="main__content-description">Buying a home is a life-changing experience, so shouldn’t your
                        real estate agent be a life changer.</p>
                </div>
                <div class="main__picture">
                    <img src="img/main-img.png" alt="building" class="main__picture-img">
                </div>
                <div class="main__search">
                    <div class="main__search-tabs">
                        <div class="tabs__group">
                            <div class="tabs__group-tab">
                                <input type="radio" id="tab-1" name="tabs__group-tab" checked>
                                <label for="tab-1">Buy</label>
                                <div class="tabs__group-tab-content">
                                    <div class="tabs__group-tab-content-dropdowns">
                                        <!-- DROPDOWNS -->

                                        <div class="tabs__group-tab-content-dropdown" id="buy">
                                            <h5 id="buyTitle" class="tabs__group-tab-content-dropdowns-title">Location
                                            </h5>
                                            <div class="aselect" :data-value="value" :data-list="list">
                                                <div class="selector box" @click="toggle()">
                                                    <div class="label box">
                                                        <span class="box">{{ value }}</span>
                                                    </div>
                                                    <div class="arrow box" :class="{ expanded : visible }"></div>
                                                    <div :class="{ hidden : !visible, visible }">
                                                        <ul>
                                                            <li :class="{ current : item === value }"
                                                                v-for="item in list" @click="select(item)">
                                                                {{ item }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabs__group-tab-content-dropdown" id="buyTwo">
                                            <h5 class="tabs__group-tab-content-dropdowns-title">Property type</h5>
                                            <div class="aselect" :data-value="value" :data-list="list">
                                                <div class="selector box" @click="toggle()">
                                                    <div class="label box">
                                                        <span class="box">{{ value }}</span>
                                                    </div>
                                                    <div class="arrow box" :class="{ expanded : visible }"></div>
                                                    <div :class="{ hidden : !visible, visible }">
                                                        <ul>
                                                            <li :class="{ current : item === value }"
                                                                v-for="item in list" @click="select(item)">
                                                                {{ item }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabs__group-tab-content-dropdown" id="buyThree">
                                            <h5 class="tabs__group-tab-content-dropdowns-title">Price</h5>
                                            <div class="aselect" :data-value="value" :data-list="list">
                                                <div class="selector box" @click="toggle()">
                                                    <div class="label box">
                                                        <span class="box">{{ value }}</span>
                                                    </div>
                                                    <div class="arrow box" :class="{ expanded : visible }"></div>
                                                    <div :class="{ hidden : !visible, visible }">
                                                        <ul>
                                                            <li :class="{ current : item === value }"
                                                                v-for="item in list" @click="select(item)">
                                                                {{ item }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="tabs__group-tab-content-dropdowns-btn">Search</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tabs__group-tab">
                                <input type="radio" id="tab-2" name="tabs__group-tab" checked>
                                <label for="tab-2">Sell</label>
                                <div class="tabs__group-tab-content">
                                    <div class="tabs__group-tab-content-dropdowns">
                                        <!-- DROPDOWNS -->
                                        <div class="tabs__group-tab-content-dropdown" id="sell">
                                            <h5 class="tabs__group-tab-content-dropdowns-title">Location</h5>
                                            <div class="aselect" :data-value="value" :data-list="list">
                                                <div class="selector box" @click="toggle()">
                                                    <div class="label box">
                                                        <span class="box">{{ value }}</span>
                                                    </div>
                                                    <div class="arrow box" :class="{ expanded : visible }"></div>
                                                    <div :class="{ hidden : !visible, visible }">
                                                        <ul>
                                                            <li :class="{ current : item === value }"
                                                                v-for="item in list" @click="select(item)">
                                                                {{ item }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabs__group-tab-content-dropdown" id="sellTwo">
                                            <h5 class="tabs__group-tab-content-dropdowns-title">Property type</h5>
                                            <div class="aselect" :data-value="value" :data-list="list">
                                                <div class="selector box" @click="toggle()">
                                                    <div class="label box">
                                                        <span class="box">{{ value }}</span>
                                                    </div>
                                                    <div class="arrow box" :class="{ expanded : visible }"></div>
                                                    <div :class="{ hidden : !visible, visible }">
                                                        <ul>
                                                            <li :class="{ current : item === value }"
                                                                v-for="item in list" @click="select(item)">
                                                                {{ item }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabs__group-tab-content-dropdown" id="sellThree">
                                            <h5 class="tabs__group-tab-content-dropdowns-title">Price</h5>
                                            <div class="aselect" :data-value="value" :data-list="list">
                                                <div class="selector box" @click="toggle()">
                                                    <div class="label box">
                                                        <span class="box">{{ value }}</span>
                                                    </div>
                                                    <div class="arrow box" :class="{ expanded : visible }"></div>
                                                    <div :class="{ hidden : !visible, visible }">
                                                        <ul>
                                                            <li :class="{ current : item === value }"
                                                                v-for="item in list" @click="select(item)">
                                                                {{ item }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="tabs__group-tab-content-dropdowns-btn">Search</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tabs__group-tab">
                                <input type="radio" id="tab-3" name="tabs__group-tab" checked>
                                <label for="tab-3">Rent</label>
                                <div class="tabs__group-tab-content">
                                    <div class="tabs__group-tab-content-dropdowns">
                                        <!-- DROPDOWNS -->
                                        <div class="tabs__group-tab-content-dropdown" id="rent">
                                            <h5 class="tabs__group-tab-content-dropdowns-title">Location</h5>
                                            <div class="aselect" :data-value="value" :data-list="list">
                                                <div class="selector box" @click="toggle()">
                                                    <div class="label box">
                                                        <span class="box">{{ value }}</span>
                                                    </div>
                                                    <div class="arrow box" :class="{ expanded : visible }"></div>
                                                    <div :class="{ hidden : !visible, visible }">
                                                        <ul>
                                                            <li :class="{ current : item === value }"
                                                                v-for="item in list" @click="select(item)">
                                                                {{ item }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabs__group-tab-content-dropdown" id="rentTwo">
                                            <h5 class="tabs__group-tab-content-dropdowns-title">Property type</h5>
                                            <div class="aselect" :data-value="value" :data-list="list">
                                                <div class="selector box" @click="toggle()">
                                                    <div class="label box">
                                                        <span class="box">{{ value }}</span>
                                                    </div>
                                                    <div class="arrow box" :class="{ expanded : visible }"></div>
                                                    <div :class="{ hidden : !visible, visible }">
                                                        <ul>
                                                            <li :class="{ current : item === value }"
                                                                v-for="item in list" @click="select(item)">
                                                                {{ item }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tabs__group-tab-content-dropdown" id="rentThree">
                                            <h5 class="tabs__group-tab-content-dropdowns-title">Price</h5>
                                            <div class="aselect" :data-value="value" :data-list="list">
                                                <div class="selector box" @click="toggle()">
                                                    <div class="label box">
                                                        <span class="box">{{ value }}</span>
                                                    </div>
                                                    <div class="arrow box" :class="{ expanded : visible }"></div>
                                                    <div :class="{ hidden : !visible, visible }">
                                                        <ul>
                                                            <li :class="{ current : item === value }"
                                                                v-for="item in list" @click="select(item)">
                                                                {{ item }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="tabs__group-tab-content-dropdowns-btn">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>






            <section class="partners">
                <h2 class="title partners__title">Our Partners</h2>
                <div class="partners__items">
                    <a href="#" class="partners__item"><img src="img/biotech.svg" alt="biotech"
                            class="partners__item-img"></a>
                    <a href="#" class="partners__item"><img src="img/express.svg" alt="express"
                            class="partners__item-img"></a>
                    <a href="#" class="partners__item"><img src="img/smilehome.svg" alt="smilehome"
                            class="partners__item-img"></a>
                    <a href="#" class="partners__item"><img src="img/connect.svg" alt="connect"
                            class="partners__item-img"></a>
                    <a href="#" class="partners__item"><img src="img/homebuild.svg" alt="homebuild"
                            class="partners__item-img"></a>
                </div>
            </section>
            <section class="properties">
                <div class="properties__headline">
                    <h2 class="title properties__title">Popular Properties</h2>
                    <a href="#" class="link properties__link">view all</a>
                </div>
                <div class="properties__content">
                    <article class="properties__content-article">
                        <img src="img/house1.png" alt="" class="properties__content-article-img">
                        <h3 class="properties__content-article-title">Capital hill residence</h3>
                        <p class="properties__content-article-description">East London</p>
                        <div class="properties__content-article-facilities">
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bed-icon.svg" alt="bedroom">
                                <p class="properties__content-article-facilities-number">6</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/food-icon.svg" alt="kitchen">
                                <p class="properties__content-article-facilities-number">2</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bath-icon.svg" alt="bathroom">
                                <p class="properties__content-article-facilities-number">3</p>
                            </div>
                        </div>
                        <div class="properties__content-article-bottom">
                            <p class="properties__content-article-price">$4427.00</p>
                            <a href="#" class="properties__content-article-button">View Details</a>
                        </div>
                    </article>
                    <article class="properties__content-article">
                        <img src="img/house2.png" alt="" class="properties__content-article-img">
                        <h3 class="properties__content-article-title">Capital hill residence</h3>
                        <p class="properties__content-article-description">East London</p>
                        <div class="properties__content-article-facilities">
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bed-icon.svg" alt="bedroom">
                                <p class="properties__content-article-facilities-number">6</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/food-icon.svg" alt="kitchen">
                                <p class="properties__content-article-facilities-number">2</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bath-icon.svg" alt="bathroom">
                                <p class="properties__content-article-facilities-number">3</p>
                            </div>
                        </div>
                        <div class="properties__content-article-bottom">
                            <p class="properties__content-article-price">$4427.00</p>
                            <a href="#" class="properties__content-article-button">View Details</a>
                        </div>
                    </article>
                    <article class="properties__content-article">
                        <img src="img/house3.png" alt="" class="properties__content-article-img">
                        <h3 class="properties__content-article-title">Capital hill residence</h3>
                        <p class="properties__content-article-description">East London</p>
                        <div class="properties__content-article-facilities">
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bed-icon.svg" alt="bedroom">
                                <p class="properties__content-article-facilities-number">6</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/food-icon.svg" alt="kitchen">
                                <p class="properties__content-article-facilities-number">2</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bath-icon.svg" alt="bathroom">
                                <p class="properties__content-article-facilities-number">3</p>
                            </div>
                        </div>
                        <div class="properties__content-article-bottom">
                            <p class="properties__content-article-price">$4427.00</p>
                            <a href="#" class="properties__content-article-button">View Details</a>
                        </div>
                    </article>
                    <article class="properties__content-article">
                        <img src="img/house4.png" alt="" class="properties__content-article-img">
                        <h3 class="properties__content-article-title">Capital hill residence</h3>
                        <p class="properties__content-article-description">East London</p>
                        <div class="properties__content-article-facilities">
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bed-icon.svg" alt="bedroom">
                                <p class="properties__content-article-facilities-number">6</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/food-icon.svg" alt="kitchen">
                                <p class="properties__content-article-facilities-number">2</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bath-icon.svg" alt="bathroom">
                                <p class="properties__content-article-facilities-number">3</p>
                            </div>
                        </div>
                        <div class="properties__content-article-bottom">
                            <p class="properties__content-article-price">$4427.00</p>
                            <a href="#" class="properties__content-article-button">View Details</a>
                        </div>
                    </article>
                    <article class="properties__content-article">
                        <img src="img/house5.png" alt="" class="properties__content-article-img">
                        <h3 class="properties__content-article-title">Capital hill residence</h3>
                        <p class="properties__content-article-description">East London</p>
                        <div class="properties__content-article-facilities">
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bed-icon.svg" alt="bedroom">
                                <p class="properties__content-article-facilities-number">6</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/food-icon.svg" alt="kitchen">
                                <p class="properties__content-article-facilities-number">2</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bath-icon.svg" alt="bathroom">
                                <p class="properties__content-article-facilities-number">3</p>
                            </div>
                        </div>
                        <div class="properties__content-article-bottom">
                            <p class="properties__content-article-price">$4427.00</p>
                            <a href="#" class="properties__content-article-button">View Details</a>
                        </div>
                    </article>
                    <article class="properties__content-article">
                        <img src="img/house6.png" alt="" class="properties__content-article-img">
                        <h3 class="properties__content-article-title">Capital hill residence</h3>
                        <p class="properties__content-article-description">East London</p>
                        <div class="properties__content-article-facilities">
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bed-icon.svg" alt="bedroom">
                                <p class="properties__content-article-facilities-number">6</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/food-icon.svg" alt="kitchen">
                                <p class="properties__content-article-facilities-number">2</p>
                            </div>
                            <div class="properties__content-article-facilities-item">
                                <img src="img/bath-icon.svg" alt="bathroom">
                                <p class="properties__content-article-facilities-number">3</p>
                            </div>
                        </div>
                        <div class="properties__content-article-bottom">
                            <p class="properties__content-article-price">$4427.00</p>
                            <a href="#" class="properties__content-article-button">View Details</a>
                        </div>
                    </article>
                </div>
            </section>
            <section class="features">
                <h2 class="title features__title">Property Featured</h2>
                <p class="features__description">Real estate is a crowded field. But with the number of buyers
                    purchasing homes through real estate agents and brokers growing there’s plenty of </p>
                <div class="features__content">
                    <div class="features__content-group">
                        <article class="features__content-group-item">
                            <img src="img/icon-1.svg" alt="security" class="features__content-group-item-icon">
                            <h3 class="features__content-group-item-title">100% Security</h3>
                            <p class="features__content-group-item-description">For many of us, buying a home is a dre
                                and one not easily attainable.</p>
                        </article>
                        <article class="features__content-group-item">
                            <img src="img/icon2.svg" alt="security" class="features__content-group-item-icon">
                            <h3 class="features__content-group-item-title">Free air conditioner</h3>
                            <p class="features__content-group-item-description">For many of us, buying a home is a dre
                                and one not easily attainable. </p>
                        </article>
                        <article class="features__content-group-item">
                            <img src="img/icon3.svg" alt="security" class="features__content-group-item-icon">
                            <h3 class="features__content-group-item-title">Flower garden</h3>
                            <p class="features__content-group-item-description">For many of us, buying a home is a dre
                                and one not easily attainable. </p>
                        </article>
                    </div>
                    <div class="features__content-picture">
                        <img src="/img/feature.png" alt="building" class="features__content-picture-img">
                    </div>
                    <div class="features__content-group">
                        <article class="features__content-group-item">
                            <img src="img/icon-1.svg" alt="security" class="features__content-group-item-icon">
                            <h3 class="features__content-group-item-title">100% Security</h3>
                            <p class="features__content-group-item-description">For many of us, buying a home is a dre
                                and one not easily attainable.</p>
                        </article>
                        <article class="features__content-group-item">
                            <img src="img/icon2.svg" alt="security" class="features__content-group-item-icon">
                            <h3 class="features__content-group-item-title">Free air conditioner</h3>
                            <p class="features__content-group-item-description">For many of us, buying a home is a dre
                                and one not easily attainable. </p>
                        </article>
                        <article class="features__content-group-item">
                            <img src="img/icon3.svg" alt="security" class="features__content-group-item-icon">
                            <h3 class="features__content-group-item-title">Flower garden</h3>
                            <p class="features__content-group-item-description">For many of us, buying a home is a dre
                                and one not easily attainable. </p>
                        </article>
                    </div>
                </div>
            </section>

            <section class="reviews">
                <a href="#" class="link reviews__link">reviews</a>
                <h2 class="title reviews__title">Our valuable customer says</h2>

                <div class="glider-contain">
                    <div id="glider" class="slider">
                        <article class="reviews__slider-card">
                            <div class="reviews__slider-card-content">
                                <img src="img/photo-1.png" alt="photo" class="reviews__slider-card-img">
                                <div class="reviews__slider-card-text">
                                    <h3 class="reviews__slider-card-text-title">Justin Lee</h3>
                                    <p class="reviews__slider-card-text-description">Products Designer at Ito</p>
                                </div>
                                <img src="img/left-quote.svg" alt="quote">
                            </div>
                            <p class="reviews__slider-card-content-description">A good real estate agent doesn’t
                                disappear
                                once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more
                                money.Been there. Done that. Sold. Bought
                                Bringing It All Together.</p>
                        </article>

                        <article class="reviews__slider-card">
                            <div class="reviews__slider-card-content">
                                <img src="img/photo-1.png" alt="photo" class="reviews__slider-card-img">
                                <div class="reviews__slider-card-text">
                                    <h3 class="reviews__slider-card-text-title">Justin Lee</h3>
                                    <p class="reviews__slider-card-text-description">Products Designer at Ito</p>
                                </div>
                                <img src="img/left-quote.svg" alt="quote">
                            </div>
                            <p class="reviews__slider-card-content-description">A good real estate agent doesn’t
                                disappear
                                once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more
                                money.Been there. Done that. Sold. Bought
                                Bringing It All Together.</p>
                        </article>
                        <article class="reviews__slider-card">
                            <div class="reviews__slider-card-content">
                                <img src="img/photo-2.png" alt="photo" class="reviews__slider-card-img">
                                <div class="reviews__slider-card-text">
                                    <h3 class="reviews__slider-card-text-title">Angel Cathe</h3>
                                    <p class="reviews__slider-card-text-description">Products Designer at Ito</p>
                                </div>
                                <img src="img/left-quote.svg" alt="quote">
                            </div>
                            <p class="reviews__slider-card-content-description">A good real estate agent doesn’t
                                disappear
                                once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more
                                money.Been there. Done that. Sold. Bought
                                Bringing It All Together.</p>
                        </article>
                        <article class="reviews__slider-card">
                            <div class="reviews__slider-card-content">
                                <img src="img/photo-2.png" alt="photo" class="reviews__slider-card-img">
                                <div class="reviews__slider-card-text">
                                    <h3 class="reviews__slider-card-text-title">Angel Cathe</h3>
                                    <p class="reviews__slider-card-text-description">Products Designer at Ito</p>
                                </div>
                                <img src="img/left-quote.svg" alt="quote">
                            </div>
                            <p class="reviews__slider-card-content-description">A good real estate agent doesn’t
                                disappear
                                once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more
                                money.Been there. Done that. Sold. Bought
                                Bringing It All Together.</p>
                        </article>


                    </div>
                    <div role="tablist" class="dots"></div>
                </div>






            </section>
            <section class="email">
                <h2 class="email__title">Get listed your home as a owner</h2>
                <p class="email__description">Here is a list of the greatest real estate company slogans of all-time.
                    These catchy slogans are followed by the Greatest Real Estate.</p>
                <div class="email__form">
                    <form>
                        <input class="email__form-input" type="email" name="email" placeholder="Enter email address"
                            pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required />
                        <input class="email__form-button" type="submit" value="Subscribe">
                    </form>
                </div>
            </section>
            <footer class="footer">
                <div class="footer__group">
                    <div class="footer__group-logotype">
                        <a href="#"> <img src="img/logo.svg" alt="" class="logotype__img"></a>
                    </div>
                    <p class="footer__description">Contrary to popular is not simply random text. It has</p>
                    <div class="footer__group-socials">
                        <a href="#" class="footer__group-socials-item"><img src="img/fb-icon.svg" alt="facebook"></a>
                        <a href="#" class="footer__group-socials-item"><img src="img/fb-icon.svg" alt="facebook"></a>
                        <a href="#" class="footer__group-socials-item"><img src="img/fb-icon.svg" alt="facebook"></a>
                        <a href="#" class="footer__group-socials-item"><img src="img/fb-icon.svg" alt="facebook"></a>
                        <a href="#" class="footer__group-socials-item"><img src="img/fb-icon.svg" alt="facebook"></a>
                    </div>
                </div>
                <div class="footer__group">
                    <h4 class="footer__group-title">About</h4>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                </div>
                <div class="footer__group">
                    <h4 class="footer__group-title">Products</h4>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                </div>
                <div class="footer__group">
                    <h4 class="footer__group-title">Address</h4>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">Company</a>
                    <a href="#" class="footer__group-link">www.itobd.com</a>
                    <a href="tel:+880176565655" class="footer__group-link">+880176565655</a>
                </div>

            </footer>



        </div>
    </div>



    <script>
        new Glider(document.getElementById('glider'), {
            slidesToShow: 2,
            slidesToScroll: 1,
            dots: '.dots',
            draggable: true,

        });


        // Dropdowns Buy
        const buy = new Vue({
            el: "#buy",
            name: 'aselect',
            data: {
                value: 'Dhaka',
                list: ["Dhaka", "Kuala-Lumpur", "Jakarta", "Hanoi", "Dubai"],
                visible: false
            },
            methods: {
                toggle() {
                    this.visible = !this.visible;
                },
                select(option) {
                    this.value = option;
                },
                handleClick(e) {
                    const classname = e.target.className;
                    if (this.visible && !classname.includes("box")) {
                        this.visible = false;
                    }
                }
            },
            created() {
                window.addEventListener('click', this.handleClick);
            },
            destroyed() {
                window.removeEventListener('click', this.handleClick);
            },
        })

        const buyTwo = new Vue({
            el: "#buyTwo",
            name: 'aselect',
            data: {
                value: 'Duplex',
                list: ["Duplex", "Townhouse", "Apartment", "Condominium", "Penthouse"],
                visible: false
            },
            methods: {
                toggle() {
                    this.visible = !this.visible;
                },
                select(option) {
                    this.value = option;
                },
                handleClick(e) {
                    const classname = e.target.className;
                    if (this.visible && !classname.includes("box")) {
                        this.visible = false;
                    }
                }
            },
            created() {
                window.addEventListener('click', this.handleClick);
            },
            destroyed() {
                window.removeEventListener('click', this.handleClick);
            },
        })

        const buyThree = new Vue({
            el: "#buyThree",
            name: 'aselect',
            data: {
                value: '$4000-$8000',
                list: ["$1000-$2000", "$2000-$4000", "$4000-$8000", "$8000-$10000", "$10000+"],
                visible: false
            },
            methods: {
                toggle() {
                    this.visible = !this.visible;
                },
                select(option) {
                    this.value = option;
                },
                handleClick(e) {
                    const classname = e.target.className;
                    if (this.visible && !classname.includes("box")) {
                        this.visible = false;
                    }
                }
            },
            created() {
                window.addEventListener('click', this.handleClick);
            },
            destroyed() {
                window.removeEventListener('click', this.handleClick);
            },
        })
        // Dropdowns SELL
        const sell = new Vue({
            el: "#sell",
            name: 'aselect',
            data: {
                value: 'Dhaka',
                list: ["Dhaka", "Kuala-Lumpur", "Jakarta", "Hanoi", "Dubai"],
                visible: false
            },
            methods: {
                toggle() {
                    this.visible = !this.visible;
                },
                select(option) {
                    this.value = option;
                },
                handleClick(e) {
                    const classname = e.target.className;
                    if (this.visible && !classname.includes("box")) {
                        this.visible = false;
                    }
                }
            },
            created() {
                window.addEventListener('click', this.handleClick);
            },
            destroyed() {
                window.removeEventListener('click', this.handleClick);
            },
        })
        const sellTwo = new Vue({
            el: "#sellTwo",
            name: 'aselect',
            data: {
                value: 'Duplex',
                list: ["Duplex", "Townhouse", "Apartment", "Condominium", "Penthouse"],
                visible: false
            },
            methods: {
                toggle() {
                    this.visible = !this.visible;
                },
                select(option) {
                    this.value = option;
                },
                handleClick(e) {
                    const classname = e.target.className;
                    if (this.visible && !classname.includes("box")) {
                        this.visible = false;
                    }
                }
            },
            created() {
                window.addEventListener('click', this.handleClick);
            },
            destroyed() {
                window.removeEventListener('click', this.handleClick);
            },
        })
        const sellThree = new Vue({
            el: "#sellThree",
            name: 'aselect',
            data: {
                value: '$4000-$8000',
                list: ["$1000-$2000", "$2000-$4000", "$4000-$8000", "$8000-$10000", "$10000+"],
                visible: false
            },
            methods: {
                toggle() {
                    this.visible = !this.visible;
                },
                select(option) {
                    this.value = option;
                },
                handleClick(e) {
                    const classname = e.target.className;
                    if (this.visible && !classname.includes("box")) {
                        this.visible = false;
                    }
                }
            },
            created() {
                window.addEventListener('click', this.handleClick);
            },
            destroyed() {
                window.removeEventListener('click', this.handleClick);
            },
        })
        // Dropdowns RENT
        const rent = new Vue({
            el: "#rent",
            name: 'aselect',
            data: {
                value: 'Dhaka',
                list: ["Dhaka", "Kuala-Lumpur", "Jakarta", "Hanoi", "Dubai"],
                visible: false
            },
            methods: {
                toggle() {
                    this.visible = !this.visible;
                },
                select(option) {
                    this.value = option;
                },
                handleClick(e) {
                    const classname = e.target.className;
                    if (this.visible && !classname.includes("box")) {
                        this.visible = false;
                    }
                }
            },
            created() {
                window.addEventListener('click', this.handleClick);
            },
            destroyed() {
                window.removeEventListener('click', this.handleClick);
            },
        })
        const rentTwo = new Vue({
            el: "#rentTwo",
            name: 'aselect',
            data: {
                value: 'Duplex',
                list: ["Duplex", "Townhouse", "Apartment", "Condominium", "Penthouse"],
                visible: false
            },
            methods: {
                toggle() {
                    this.visible = !this.visible;
                },
                select(option) {
                    this.value = option;
                },
                handleClick(e) {
                    const classname = e.target.className;
                    if (this.visible && !classname.includes("box")) {
                        this.visible = false;
                    }
                }
            },
            created() {
                window.addEventListener('click', this.handleClick);
            },
            destroyed() {
                window.removeEventListener('click', this.handleClick);
            },
        })
        const rentThree = new Vue({
            el: "#rentThree",
            name: 'aselect',
            data: {
                value: '$4000-$8000',
                list: ["$1000-$2000", "$2000-$4000", "$4000-$8000", "$8000-$10000", "$10000+"],
                visible: false
            },
            methods: {
                toggle() {
                    this.visible = !this.visible;
                },
                select(option) {
                    this.value = option;
                },
                handleClick(e) {
                    const classname = e.target.className;
                    if (this.visible && !classname.includes("box")) {
                        this.visible = false;
                    }
                }
            },
            created() {
                window.addEventListener('click', this.handleClick);
            },
            destroyed() {
                window.removeEventListener('click', this.handleClick);
            },
        })
    </script>



</body>

</html>