* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@mixin button {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	background: #2e6eff;
	border-radius: 10px;
	padding: 0.9em 1.8em;
	opacity: 1;
	text-decoration: none;
	border: none;
	white-space: nowrap;
	cursor: pointer;
	&:hover {
		transition: ease-in-out 0.3s;
		background-color: #30aaf5;
	}
	@media screen and (max-width: 730px) {
		transform: scale(0.7);
	}
}
@mixin links {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #030a1b;
	opacity: 0.7;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		transition: ease-in-out 0.3s;
		color: #fe753f;
	}
}

@mixin title {
	font-weight: 600;
	font-size: 44px;
	line-height: 66px;
	color: #030a1b;
	text-align: center;
	white-space: pre-wrap;

	&::before {
		content: url(img/house-logo.svg);
		max-width: 3em;
		max-height: 3em;
		position: relative;
		left: 0.7em;
		top: 0.1em;
		z-index: 1;
		@media screen and (max-width: 320px) {
			top: -0.2em;
		}
	}
	@media screen and(max-width:640px) {
		font-size: 25px;
		line-height: 34px;
	}
	@media screen and (max-width: 400px) {
		font-size: 20px;
	}
	@media screen and (max-width: 320px) {
		font-size: 18px;
		text-align: left;
		display: flex;
		align-items: end;
	}
}
@mixin description {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #030a1b;
	opacity: 0.7;
	@media screen and (max-width: 490px) {
		font-size: 15px;
		line-height: 19px;
	}
}
@mixin title-articles {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	@media screen and (max-width: 390px) {
		font-size: 17px;
		line-height: 18px;
	}
}
@mixin dropdown {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 33px;
	color: #030a1b;
	@media screen and (max-width: 800px) {
		font-size: 17px;
		line-height: 23px;
	}
}
.title {
	@include title;
}
.link {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #fe753f;
	text-transform: uppercase;
	text-decoration: none;
}

body {
	font-family: "Poppins";
	font-style: normal;
	font-size: 16px;
	color: #030a1b;
	overflow-x: hidden;
}

.wrapper {
	background-color: #e5e5e5;
	width: 100%;
	overflow: hidden;

	// padding-right: 0.5em;
	// padding-left: 0.5em;
}
.container {
	max-width: 1150px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2.1em;
	padding-bottom: 11.8em;
	overflow-x: hidden;
	@media screen and (max-width: 1100px) {
		padding-right: 1em;
		padding-left: 1em;
	}
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4.3em;

	&__logotype-img {
		@media screen and (max-width: 460px) {
			width: 70%;
		}
	}
	&__items-item {
		@include links;
		margin-right: 3.1em;
		&:last-child {
			@include button;
			margin-right: 0;
			max-width: 9.3em;
			width: 100%;
		}
		@media screen and (max-width: 930px) {
			display: none;
		}
	}
}

.main {
	margin-bottom: -10em;
	@media screen and (max-width: 1100px) {
		transform: scale(0.9);
	}

	&__content-text {
		position: relative;
		max-width: 34.8em;
		width: 100%;
		margin-right: 6.5em;
		z-index: 6;
		@media screen and (max-width: 1000px) {
			width: 50%;
			margin-right: 0;
		}
		@media screen and (max-width: 920px) {
			width: 100%;
		}
		@media screen and (max-width: 410px) {
			top: -4.5em;
		}
	}

	&__content-title {
		font-weight: 600;
		font-size: 3.8rem;
		line-height: 120%;
		@media screen and (max-width: 1000px) {
			font-size: 3em;
		}
		@media screen and(max-width:640px) {
			font-size: 2em;
			line-height: 40px;
		}
	}

	&__content-description {
		@include description;
		font-size: 18px;
		line-height: 27px;
	}

	&__picture-img {
		position: relative;
		left: 41.6em;
		bottom: 20em;
		max-height: 100%;
		border-radius: 10px;
		max-width: 30.2em;
		width: 100%;
		@media screen and (max-width: 1100px) {
			left: 55vw;
			z-index: 0;
			width: 50%;
		}
		@media screen and (max-width: 920px) {
			left: 24em;
			opacity: 0.6;
		}
		@media screen and (max-width: 790px) {
			left: 16em;
		}
		@media screen and(max-width:640px) {
			width: 80%;
			left: 5%;
			bottom: 30vh;
		}
	}
}

.partners {
	margin-bottom: 8.7em;

	@media screen and (max-width: 600px) {
		transform: scale(0.8);
		margin-bottom: 0;
	}
	&__title {
		@include title;
		margin-bottom: 4em;
		@media screen and (max-width: 950px) {
			margin-bottom: 2em;
		}
	}
	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 950px) {
			transform: scale(0.9);
		}
		@media screen and (max-width: 830px) {
			flex-direction: column;
		}
	}
	@media screen and (max-width: 830px) {
		&__item {
			margin-bottom: 2em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.properties {
	margin-bottom: 8.7em;
	@media screen and (max-width: 800px) {
		margin-bottom: 2em;
	}
	@media screen and (max-width: 390px) {
		margin-bottom: -15em;
	}

	&__headline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4em;
		@media screen and (max-width: 390px) {
			margin-bottom: -7em;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(22.6em, 1fr));
		gap: 1.8em;
		justify-items: center;
		@media screen and (max-width: 390px) {
			justify-content: center;
			transform: scale(0.9);
		}
	}

	&__content-article {
		max-width: 22.6em;
		width: 100%;
		background: #ffffff;
		box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
		border-radius: 10px;
		padding: 0 30px 30px 30px;
		@media screen and (max-width: 390px) {
			transform: scale(0.8);
		}
	}

	&__content-article-img {
		position: relative;
		right: 30px;
		max-height: 20em;
		max-width: 22.6em;
		width: 120%;
		height: 100%;
		margin-bottom: 1.8em;
	}
	&__content-name {
		display: flex;
		justify-content: space-between;
	}
	&__content-heart {
		margin-left: 3em;
		z-index: 1;
		cursor: pointer;
		color: #bbbbbb;
		border: none;
		background-color: transparent;
	}
	&__content-article-title {
		margin-bottom: 0.6em;
	}

	&__content-article-description {
		@include description;
		margin-bottom: 1.2em;
		&::before {
			content: url(img/location-icon.svg);
			margin-right: 0.6em;
		}
	}

	&__content-article-facilities {
		display: flex;
		justify-content: space-between;
		width: 7.8em;
		margin-bottom: 1.2em;
	}
	&__content-article-facilities-item {
		display: flex;
		align-items: center;
	}
	&__content-article-facilities-number {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		opacity: 0.9;
		margin-left: 0.3em;
	}
	&__content-article-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content-article-price {
		font-weight: 600;
		font-size: 22px;
		line-height: 33px;
		color: #fe753f;
	}

	&__content-article-button {
		@include button;
	}
}
.features {
	margin-bottom: 13.1em;
	@media screen and (max-width: 1100px) {
		transform: scale(0.9);
		margin-bottom: 0;
	}

	&__title {
		margin-bottom: 0.6em;
	}

	&__description {
		@include description;
		max-width: 45.5em;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 4.3em;
		@media screen and (max-width: 700px) {
			margin-bottom: 0;
		}
	}

	&__content {
		display: flex;
		gap: 1.8em;
		justify-content: center;
		@media screen and (max-width: 1030px) {
			transform: scale(0.9);
		}
		@media screen and (max-width: 930px) {
			display: grid;
			grid-template-columns: 50% 52%;
			gap: 1em;
		}
		@media screen and (max-width: 700px) {
			grid-template-columns: 61%;
			justify-content: center;
		}
		@media screen and (max-width: 600px) {
			grid-template-columns: 100%;
			justify-items: center;
		}
	}

	&__content-group-item {
		background-color: #ffffff;
		border-radius: 10px;
		max-width: 22.6em;
		width: 100%;
		max-height: 12.6em;
		padding: 25px 25px;
		margin-bottom: 1.8em;
		&:last-child {
			margin-bottom: 0;
		}
		@media screen and (max-width: 930px) {
			margin-bottom: 1em;
		}
	}

	&__content-group-item-icon {
		padding: 0.6em 0.7em;
		background: rgb(255, 241, 236);
		color: #fe753f;
		border-radius: 5px;
		max-width: 2.8em;
		width: 100%;
		height: 2.8em;
		margin-bottom: 0.9em;
	}

	&__content-group-item-title {
		@include title-articles;
		white-space: nowrap;
	}

	&__content-group-item-description {
		@include description;
		max-width: 19.4em;
	}

	&__content-picture {
		position: relative;
		top: 7em;
		@media screen and (max-width: 930px) {
			top: 0;
		}
	}

	&__content-picture-img {
		width: 100%;
		max-width: 22.6em;
		height: 33em;
	}
}
.reviews {
	margin-bottom: 8.7em;

	&__title {
		margin-bottom: 4rem;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__slider {
		display: flex;
	}

	&__slider-card {
		max-width: 34.8em;
		width: 100%;
		max-height: 16.2rem;
		padding: 1.8em 1.8em;
		background: #ffffff;
		border: 2px solid rgba(254, 117, 63, 0.1);
		border-radius: 10px;
		margin-right: 1.8em;
		overflow: hidden;
		@media screen and (max-width: 490px) {
			padding: 1em 1em;
			transform: scale(0.9);
		}
	}

	&__slider-card-content {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		@media screen and (max-width: 1050px) {
			justify-content: flex-start;
			transform: scale(0.9);
		}
		@media screen and (max-width: 530px) {
			transform: scale(0.8);
			width: 100%;
			justify-items: left;
		}
		@media screen and (max-width: 370px){
			transform: scale(0.7);
			margin-top: -1em;
		}
	}

	&__slider-card-img {
		max-width: 4.6em;
		margin-right: 1.9rem;
		@media screen and (max-width: 490px) {
			margin-right: 0.5em;
			margin-left: -2em;
		}
	}

	&__slider-card-text {
		margin-right: 7rem;
		@media screen and (max-width: 1100px) {
			margin-right: 3rem;
		}
		@media screen and (max-width: 490px) {
			margin-right: 0;
		}
	}

	&__slider-card-text-title {
		@include title-articles;
		margin-bottom: 5px;
	}

	&__slider-card-text-description {
		@include description;
		text-align: left;
		max-width: 30.5em;
		width: 100%;
	}

	&__slider-card-content-description {
		@include description;
		max-width: 30.5em;
		@media screen and (max-width: 490px) {
			width: 100%;
		}
		@media screen and (max-width: 320px) {
			font-size: 13px;
		}
	}
	&__slider-card-quote {
		max-height: 4em;
		@media screen and (max-width: 1050px) {
			transform: scale(0.5);
		}
		@media screen and (max-width: 490px) {
			width: 2.5em;
			height: 2.5em;
		}
	}
}
.email {
	background-image: url(img/email-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	text-align: center;
	padding: 4.3em 0 2.3em 0;
	margin-bottom: 8.7em;
	@media screen and (max-width: 768px) {
		transform: scale(0.9);
	}
	@media screen and (max-width: 650px) {
		margin-bottom: 2em;
	}

	&__title {
		font-weight: 500;
		font-size: 44px;
		line-height: 60px;
		text-align: center;
		color: #ffffff;
		margin-bottom: 0.9em;
		@media screen and (max-width: 768px) {
			font-size: 30px;
			line-height: 40px;
			white-space: pre-line;
			padding: 0.5em;
		}
	}

	&__description {
		@include description;
		color: #ffffff;
		max-width: 39.6em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4.3em;
		@media screen and (max-width: 550px) {
			width: 70%;
		}
	}

	&__form {
		margin-right: auto;
		margin-left: auto;
		max-width: 46.4em;
		width: 100%;
		@media screen and (max-width: 870px) {
			width: 70%;
		}
		@media screen and (max-width: 330px) {
			width: 90%;
		}
	}

	&__form-input {
		max-width: 46.4em;
		width: 100%;
		padding: 1.4em 1.8em;
		border-radius: 10px;
		border: none;
		@media screen and (max-width: 550px) {
			font-size: 15px;
		}
	}

	&__form-button {
		@include button;
		position: relative;
		bottom: 3.6em;
		left: 18.5em;
		@media screen and (max-width: 870px) {
			left: 33%;
		}
		@media screen and (max-width: 460px) {
			position: inherit;
		}
	}
}
.footer {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 940px) {
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	@media screen and (max-width: 650px) {
		transform: scale(0.9);
	}

	&__group {
		display: flex;
		flex-direction: column;
		@media screen and (max-width: 650px) {
			transform: scale(0.9);
		}
	}

	&__description {
		@include description;
		max-width: 16.4em;
		margin-bottom: 1.5em;
		@media screen and (max-width: 650px) {
			transform: scale(0.8);
		}
	}
	&__group-logotype {
		max-width: 13.7em;
		width: 100%;
		@media screen and (max-width: 650px) {
			transform: scale(0.8);
		}
	}

	&__group-socials {
		display: flex;
		@media screen and (max-width: 650px) {
			transform: scale(0.8);
		}
	}

	&__group-socials-item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5em 0.5em;
		background: #fe753f;
		border-radius: 15px;
		width: 1.8em;
		height: 1.8em;
		margin-right: 0.9em;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: #9e3005;
		}
	}

	&__group-title {
		@include title-articles;
		margin-bottom: 1.5em;
	}

	&__group-link {
		@include links;
		margin-bottom: 0.9em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// TABS

.tabs {
	&__group {
		display: flex;
		position: relative;
		bottom: 35em;
		max-width: 52.6em;
		width: 100%;
		border-radius: 8px 8px 0 0;
		@media screen and (max-width: 1000px) {
			bottom: 32em;
		}
		@media screen and (max-width: 880px) {
			bottom: 27em;
			left: 2em;
		}
		@media screen and (max-width: 740px) {
			left: -2.5em;
			bottom: 23em;
			width: 50em;
			max-width: 112%;
		}
		@media screen and (max-width: 640px) {
			max-width: 143%;
			transform: scale(0.8);
			left: -6.6em;
		}
		@media screen and (max-width: 480px) {
			left: -5.5em;
		}
		@media screen and (max-width: 414px) {
			transform: scale(0.7);
			max-width: 155%;
			bottom: 17em;
			left: -6em;
		}
		@media screen and (max-width: 360px) {
			max-width: 170%;
			left: -7.2em;
		}
		@media screen and (max-width: 320px) {
			transform: scale(0.7);
			max-width: 175%;
			left: -6.7em;
		}
		@media screen and (max-width: 280px) {
			left: -5.8em;
		}
	}

	&__group-tab {
		border-radius: 5px;
	}
	&__group-tab-content {
		position: absolute;
		right: 0em;
		top: 2.5em;
		padding: 1.8em;
		border-radius: 0 5px 5px 5px;
		background: #ffffff;
		transition: ease, transform 0.8s ease;
		opacity: 0;
		transform: scale(1);
		transform-origin: top left;
		width: 100%;
		max-width: 52.6em;
		@media screen and (max-width: 500px) {
			padding: 0.5em 1em 0.5em 0.5em;
		}
	}
	&__group-tab-content-dropdowns {
		display: grid;
		grid-template-columns: 25% 29% 29% 18%;
		align-items: center;
		@media screen and(max-width:640px) {
			grid-template-columns: 25% 30% 26% 22%;
		}
		@media screen and (max-width: 440px) {
			grid-template-columns: 20% 29% 29% 24%;
		}
		@media screen and (max-width: 360px) {
			grid-template-columns: 20% 30% 29% 24%;
		}
		@media screen and (max-width: 320px) {
			grid-template-columns: 15% 33% 30% 27%;
		}
	}
	&__group-tab-content-dropdowns-btn {
		@include button;
		padding: 0.9em 1.2em;
		vertical-align: sub;

		&:before {
			content: url(img/search-icon.svg);
			margin-right: 0.6em;
		}
		@media screen and (max-width: 320px) {
			transform: scale(0.6);
		}
	}
	&__group-tab-content-dropdowns-title {
		text-align: left;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #030a1b;
		opacity: 0.7;
		white-space: nowrap;
		&::after {
			content: url(img/arrow-bottom.svg);
			margin-left: 0.6em;
		}
		@media screen and (max-width: 665px) {
			transform: scale(0.9);
		}
		@media screen and (max-width: 500px) {
			transform: scale(0.8);
		}
	}
	&__group-tab-content-dropdown {
		&:nth-child(2) {
			padding-bottom: -20px;
			padding-left: 20px;
			border-left: 1px solid #030a1b;
			@media screen and (max-width: 500px) {
				border: none;
			}
		}
		&:nth-child(2) {
			border-right: 1px solid #030a1b;
			padding-left: 2em;
			@media screen and (max-width: 500px) {
				border: none;
			}
		}
		&:nth-child(3) {
			padding-left: 2em;
			@media screen and (max-width: 500px) {
				padding-left: 1em;
			}
		}
	}
}

.tabs__group-tab label {
	display: block;
	font-size: 18px;
	line-height: 27px;
	height: 40px;
	padding: 0.9em 1.8em;
	text-align: center;
	background: #ffffff;
	cursor: pointer;
}
.tabs__group-tab:nth-child(1) label {
	border-top-left-radius: 5px;
}
.tabs__group-tab:nth-child(3) label {
	border-top-right-radius: 5px;
}

.tabs__group-tab [type="radio"] {
	display: none;
}
[type="radio"]:checked ~ label {
	background: #ffffff;
	color: #fe753f;
	z-index: 2;
}

[type="radio"]:checked ~ label ~ .tabs__group-tab-content {
	z-index: 1;
	opacity: 1;
	transform: scale(1);
}

@media screen and (max-width: 767px) {
	.tabs {
		min-height: 400px;
	}
}

@media screen and (max-width: 480px) {
	.tabs {
		min-height: 580px;
	}
	.tabs__group-tab label {
		height: 60px;
	}
	.tabs__group-tab-content {
		top: 60px;
	}
}
.aselect {
	width: 20em;
	@media screen and (max-width: 800px) {
		max-width: 16em;
	}
	@media screen and (max-width: 665px) {
		transform: scale(0.9);
	}
	.selector {
		border: none;
		background: #ffffff;
		position: relative;
		z-index: 1;
		width: 60%;
		.arrow {
			position: absolute;
			right: 10px;
			top: 40%;
			width: 0;
			height: 0;
		}
		.box {
			@include dropdown;
			padding-top: 0.3em;
			cursor: pointer;
			@media screen and (max-width: 370px) {
				transform: scale(0.9);
			}
		}
	}

	ul {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-size: 16px;
		position: absolute;
		z-index: 6;
		background: #fff;
		border-radius: 5px;
		cursor: pointer;
		@media screen and (max-width: 370px) {
			transform: scale(0.9);
			font-size: 15px;
		}
	}
	li {
		@include dropdown;
		padding: 0.6em;
		cursor: pointer;

		&:hover {
			color: #fe753f;
		}
	}
	.current {
		background: #ffffff;
		color: #fe753f;
	}
	.hidden {
		visibility: hidden;
	}
	.visible {
		visibility: visible;
	}
}

/* Burger-menu */
.burger-menu {
	display: none;
}
@media screen and (max-width: 930px) {
	.burger-menu {
		display: block;
	}
}
#menu__toggle {
	position: absolute;
	display: none;
}
.menu__btn {
	display: block;
	position: relative;
	right: 6em;
	width: 40px;
	cursor: pointer;
}

@media all and (max-width: 460px) {
	.menu__btn {
		left: -54%;
	}
}
.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #fe753f;
	border-radius: 10px;
	z-index: 30;
	transition: ease-in-out 0.3s;
}
.menu__btn span::before {
	content: "";
	top: -9px;
}
.menu__btn span::after {
	content: "";
	top: 9px;
}
.menu__box {
	display: block;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	top: 2em;
	right: 2em;
	overflow: hidden;
	visibility: hidden;
	padding-top: 30px;
	width: 80%;
	max-width: 25em;
	max-height: 33em;
	height: 50%;
	background: #ffffff;
	border-radius: 20px;
	text-align: center;
	z-index: 3;

	&-item {
		@include links;
		&:last-child {
			@include button;
		}
	}
}
.menu__item {
	display: block;
	margin-top: 15px;
	padding: 10px 0px;
	font-weight: 700;
	font-size: 20px;
	color: #4b4b4b;
}
.menu__item:hover {
	color: #f2726f;
}
.button--burger {
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	width: 100%;
	max-width: 16em;
}
#menu__toggle:checked ~ .menu__btn span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn span::before {
	top: 0;
	transform: rotate(0);
	background-color: #f2726f;
}
#menu__toggle:checked ~ .menu__btn span::after {
	top: 0;
	transform: rotate(90deg);
	background-color: #f2726f;
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
}
