* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@mixin button {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	background: #2e6eff;
	border-radius: 10px;
	padding: 0.9em 1.8em;
	opacity: 1;
	text-decoration: none;
	border: none;
	cursor: pointer;
	&:hover {
		transition: ease-in-out 0.3s;
		background-color: #30aaf5;
	}
}
@mixin links {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #030a1b;
	opacity: 0.7;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		transition: ease-in-out 0.3s;
		color: #fe753f;
	}
}
@mixin title {
	font-weight: 600;
	font-size: 44px;
	line-height: 66px;
	color: #030a1b;
	text-align: center;
	&::before {
		content: url(img/house-logo.svg);
		width: 3em;
		height: 3em;
		position: relative;
		left: 0.7em;
		top: 0.1em;
	}
}
@mixin description {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #030a1b;
	opacity: 0.7;
}
@mixin title-articles {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
}
.title {
	@include title;
}
.link {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #fe753f;
	text-transform: uppercase;
	text-decoration: none;
}

body {
	font-family: "Poppins";
	font-style: normal;
	font-size: 16px;
	color: #030a1b;
}

.wrapper {
	background-color: #e5e5e5;
}
.container {
	max-width: 1150px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2.1em;
	padding-bottom: 11.8em;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4.3em;
	// &__items {
	// 	max-width: 36.7em;
	// 	width: 100%;
	// }

	&__items-item {
		@include links;
		margin-right: 3.1em;
		&:last-child {
			@include button;
			margin-right: 0;
			max-width: 9.3em;
			width: 100%;
		}
	}
}
.logotype {
	&__img {
	}
}
.main {
	&__content-text {
		max-width: 34.8em;
		margin-right: 6.5em;
	}

	&__content-title {
		font-weight: 600;
		font-size: 61px;
		line-height: 120%;
	}

	&__content-description {
		@include description;
		font-size: 18px;
		line-height: 27px;
	}

	&__picture {
		position: relative;
		left: 40em;
		bottom: 20em;
	}

	&__picture-img {
		max-width: 30.2em;
		width: 100%;
		max-height: 38.4em;
		border-radius: 10px;
	}
}

.main {
	// &__search-dropdown-btn {
	// 	background-color: #3498db;
	// 	color: white;
	// 	padding: 16px;
	// 	font-size: 16px;
	// 	border: none;
	// 	cursor: pointer;
	// }

	// &__search-dropdown-items {
	// 	display: none;
	// 	position: absolute;
	// 	background-color: #f1f1f1;
	// 	min-width: 160px;
	// 	overflow: auto;
	// 	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	// 	z-index: 1;
	// }

	&__search-dropdown-content {
	}
}
.show {
	display: block;
}

.partners {
	margin-bottom: 8.7em;
	&__title {
		@include title;
		margin-bottom: 4em;
	}
	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__item {
	}

	&__item-img {
	}
}
.properties {
	margin-bottom: 8.7em;
	&__headline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4em;
	}

	// &__link {
	// 	font-weight: 600;
	// 	font-size: 16px;
	// 	line-height: 24px;
	// 	color: #fe753f;
	// 	text-transform: uppercase;
	// 	text-decoration: none;
	// }

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(22.6em, 1fr));
		gap: 1.8em;
	}

	&__content-article {
		max-width: 22.6em;
		width: 100%;
		background: #ffffff;
		box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
		border-radius: 10px;
		padding: 0 30px 30px 30px;
	}

	&__content-article-img {
		position: relative;
		right: 30px;
		max-height: 20em;
		max-width: 22.6em;
		margin-bottom: 1.8em;
	}

	&__content-article-title {
		margin-bottom: 0.6em;
	}

	&__content-article-description {
		@include description;
		margin-bottom: 1.2em;
		&::before {
			content: url(img/location-icon.svg);
			margin-right: 0.6em;
		}
	}

	&__content-article-facilities {
		display: flex;
		justify-content: space-between;
		width: 7.8em;
		margin-bottom: 1.2em;
	}
	&__content-article-facilities-item {
		display: flex;
	}
	&__content-article-facilities-number {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		opacity: 0.9;
	}
	&__content-article-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content-article-price {
		font-weight: 600;
		font-size: 22px;
		line-height: 33px;
		color: #fe753f;
	}

	&__content-article-button {
		@include button;
	}
}
.features {
	margin-bottom: 13.1em;
	&__title {
		margin-bottom: 0.6em;
	}

	&__description {
		@include description;
		max-width: 45.5em;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 4.3em;
	}

	&__content {
		display: flex;
	}

	&__content-group {
		margin-right: 1.8em;
		&:last-child {
			margin-left: 1.8em;
		}
	}

	&__content-group-item {
		background-color: #ffffff;
		border-radius: 10px;
		max-width: 22.6em;
		max-height: 12.6em;
		padding: 25px 25px;
		margin-bottom: 1.8em;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__content-group-item-icon {
		padding: 12px 15px;
		background: #fe753f;
		opacity: 0.1;
		border-radius: 5px;
		width: 2.8em;
		height: 2.8em;
		margin-bottom: 0.9em;
	}

	&__content-group-item-title {
		@include title-articles;
	}

	&__content-group-item-description {
		@include description;
		width: 19.4em;
	}

	&__content-picture {
		position: relative;
		top: 8.3em;
	}

	&__content-picture-img {
		max-width: 22.6em;
		height: 33em;
		margin-top: 2em;
	}
}
.reviews {
	margin-bottom: 8.7em;

	&__link {
	}

	&__title {
		margin-bottom: 4.3em;
	}

	&__slider {
		display: flex;
	}

	&__slider-card {
		max-width: 34.8em;
		padding: 1.8em 1.8em;
		background: #ffffff;
		border: 2px solid rgba(254, 117, 63, 0.1);
		border-radius: 10px;
		margin-right: 1.8em;
	}

	&__slider-card-content {
		display: flex;
		align-items: center;
	}

	&__slider-card-img {
		margin-right: 1.9em;
	}

	&__slider-card-text {
		margin-right: 8.6em;
	}

	&__slider-card-text-title {
		@include title-articles;
		margin-bottom: 5px;
	}

	&__slider-card-text-description {
		@include description;
		text-align: left;
		max-width: 30.5em;
	}

	&__slider-card-content-description {
		@include description;
		max-width: 30.5em;
	}
}
.email {
	background-image: url(img/email-bg.png);
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 4.3em 0;
	margin-bottom: 8.7em;

	&__title {
		font-weight: 500;
		font-size: 44px;
		line-height: 60px;
		text-align: center;
		color: #ffffff;
		margin-bottom: 0.9em;
	}

	&__description {
		@include description;
		color: #ffffff;
		max-width: 39.6em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4.3em;
	}

	&__form {
		margin-right: auto;
		margin-left: auto;
		max-width: 46.4em;
		width: 100%;
	}

	&__form-input {
		max-width: 46.4em;
		width: 100%;
		padding: 1.4em 1.8em;
		border-radius: 10px;
		border: none;
	}

	&__form-button {
		@include button;
		position: relative;
		bottom: 3.6em;
		left: 18.5em;
	}
}
.footer {
	display: flex;
	justify-content: space-between;

	&__group {
		display: flex;
		flex-direction: column;
	}

	&__description {
		@include description;
		max-width: 16.4em;
		margin-bottom: 1.5em;
	}
	&__group-logotype {
		max-width: 13.7em;
		width: 100%;
	}

	&__group-socials {
		display: flex;
	}

	&__group-socials-item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5em 0.5em;
		background: #fe753f;
		border-radius: 15px;
		width: 1.8em;
		height: 1.8em;
		margin-right: 0.9em;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: #9e3005;
		}
	}

	&__group-title {
		@include title-articles;
		margin-bottom: 1.5em;
	}

	&__group-link {
		@include links;
		margin-bottom: 0.9em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.tabs__group-tab [type="radio"] {
	display: none;
}
[type="radio"]:checked ~ label {
	background: #e5ddf0;
	z-index: 2;
}

[type="radio"]:checked ~ label ~ .tabs__group-tab-content {
	z-index: 1;

	/* show/hide */
	opacity: 1;
	transform: scale(1);
}

/* BREAKPOINTS ----- */
@media screen and (max-width: 767px) {
	.tabs {
		min-height: 400px;
	}
}

@media screen and (max-width: 480px) {
	.tabs {
		min-height: 580px;
	}
	.tabs__group-tab label {
		height: 60px;
	}
	.tabs__group-tab-content {
		top: 60px;
	}
}

.tabs {
	&__group {
		display: flex;
		position: relative;
		bottom: 35em;
		min-height: 11.3em;
		width: 52.6em;
		border-radius: 8px 8px 0 0;
	}

	&__group-tab {
		flex: 1;
	}
	&__group-tab-content {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		/* clear the tab labels */
		top: 40px;
		padding: 20px;
		border-radius: 0 0 8px 8px;
		background: #ffffff;
		transition: opacity 0.8s ease, transform 0.8s ease;
		/* show/hide */
		opacity: 0;
		transform: scale(0.1);
		transform-origin: top left;
		width: 100%;
		max-width: 52.6em;
	}
	&__group-tab-content-dropdowns {
		display: grid;
		grid-template-columns: 25% 25% 25% 20%;
	}
	&__group-tab-content-dropdowns-btn{
		@include button;
	}
}

.tabs__group-tab label {
	display: block;
	box-sizing: border-box;
	height: 40px;
	padding: 10px;
	text-align: center;
	background: #ffffff;
	cursor: pointer;
	transition: 0.5s ease;
}

.tabs__group-tab label:hover {
	background: #f1eff3;
}

.aselect {
	width: 280px;
	.selector {
		border: none;
		background: #ffffff;
		position: relative;
		z-index: 1;
		width: 60%;
		.arrow {
			position: absolute;
			right: 10px;
			top: 40%;
			width: 0;
			height: 0;
			// border-left: 7px solid transparent;
			// border-right: 7px solid transparent;
			// border-top: 10px solid #888;
			transform: rotateZ(0deg) translateY(0px);
			transition-duration: 0.3s;
			transition-timing-function: cubic-bezier(0.59, 1.39, 0.37, 1.01);
		}
		.expanded {
			transform: rotateZ(180deg) translateY(2px);
		}
		.label {
			display: block;
			padding: 12px;
			font-size: 16px;
			color: #888;
		}
	}
	ul {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-size: 16px;

		position: absolute;
		z-index: 1;
		background: #fff;
	}
	li {
		padding: 12px;
		// color: #666;
		&:hover {
			color: #fe753f;
		}
	}
	.current {
		background: #ffffff;
		color: #fe753f;
	}
	.hidden {
		visibility: hidden;
	}
	.visible {
		visibility: visible;
	}
}
