*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}






.wrapper {
}
.container {
}
.header {
}
.navigation {

		&__items {
		}

		&__items-item {
		}
}
.logotype {

		&__img {
		}
}
.main {

		&__content-text {
		}

		&__content-title {
		}

		&__content-subscription {
		}

		&__picture {
		}

		&__picture-img {
		}

		&__search {
		}

		&__search-tabs {
		}
}
.partners {

		&__item {
		}

		&__item-img {
		}
}
