* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
  color: #030a1b;
  text-align: center;
}
.title::before {
  content: url(img/house-logo.svg);
  width: 3em;
  height: 3em;
  position: relative;
  left: 0.7em;
  top: 0.1em;
}

.link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fe753f;
  text-transform: uppercase;
  text-decoration: none;
}

body {
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  color: #030a1b;
}

.wrapper {
  background-color: #e5e5e5;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.1em;
  padding-bottom: 11.8em;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4.3em;
}
.navigation__items-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
  margin-right: 3.1em;
}
.navigation__items-item:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  color: #fe753f;
}
.navigation__items-item:last-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #2e6eff;
  border-radius: 10px;
  padding: 0.9em 1.8em;
  opacity: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-right: 0;
  max-width: 9.3em;
  width: 100%;
}
.navigation__items-item:last-child:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background-color: #30aaf5;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.2em;
}
.main__content-text {
  max-width: 34.8em;
  margin-right: 6.5em;
}
.main__content-title {
  font-weight: 600;
  font-size: 61px;
  line-height: 120%;
}
.main__content-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  font-size: 18px;
  line-height: 27px;
}
.main__picture-img {
  max-width: 30.2em;
  width: 100%;
  max-height: 38.4em;
  border-radius: 10px;
}
.partners {
  margin-bottom: 8.7em;
}
.partners__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
  color: #030a1b;
  text-align: center;
  margin-bottom: 4em;
}
.partners__title::before {
  content: url(img/house-logo.svg);
  width: 3em;
  height: 3em;
  position: relative;
  left: 0.7em;
  top: 0.1em;
}
.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.properties {
  margin-bottom: 8.7em;
}
.properties__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4em;
}
.properties__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.6em, 1fr));
  gap: 1.8em;
}
.properties__content-article {
  max-width: 22.6em;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 0 30px 30px 30px;
}
.properties__content-article-img {
  position: relative;
  right: 30px;
  max-height: 20em;
  max-width: 22.6em;
  margin-bottom: 1.8em;
}
.properties__content-article-title {
  margin-bottom: 0.6em;
}
.properties__content-article-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  margin-bottom: 1.2em;
}
.properties__content-article-description::before {
  content: url(img/location-icon.svg);
  margin-right: 0.6em;
}
.properties__content-article-facilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7.8em;
  margin-bottom: 1.2em;
}
.properties__content-article-facilities-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.properties__content-article-facilities-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.9;
}
.properties__content-article-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.properties__content-article-price {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #fe753f;
}
.properties__content-article-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #2e6eff;
  border-radius: 10px;
  padding: 0.9em 1.8em;
  opacity: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.properties__content-article-button:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background-color: #30aaf5;
}

.features {
  margin-bottom: 13.1em;
}
.features__title {
  margin-bottom: 0.6em;
}
.features__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  max-width: 45.5em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4.3em;
}
.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__content-group {
  margin-right: 1.8em;
}
.features__content-group:last-child {
  margin-left: 1.8em;
}
.features__content-group-item {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 22.6em;
  max-height: 12.6em;
  padding: 25px 25px;
  margin-bottom: 1.8em;
}
.features__content-group-item:last-child {
  margin-bottom: 0;
}
.features__content-group-item-icon {
  padding: 12px 15px;
  background: #fe753f;
  opacity: 0.1;
  border-radius: 5px;
  width: 2.8em;
  height: 2.8em;
  margin-bottom: 0.9em;
}
.features__content-group-item-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.features__content-group-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  width: 19.4em;
}
.features__content-picture {
  position: relative;
  top: 8.3em;
}
.features__content-picture-img {
  max-width: 22.6em;
  height: 33em;
  margin-top: 2em;
}

.reviews {
  margin-bottom: 8.7em;
}
.reviews__title {
  margin-bottom: 4.3em;
}
.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__slider-card {
  max-width: 34.8em;
  padding: 1.8em 1.8em;
  background: #ffffff;
  border: 2px solid rgba(254, 117, 63, 0.1);
  border-radius: 10px;
  margin-right: 1.8em;
}
.reviews__slider-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__slider-card-img {
  margin-right: 1.9em;
}
.reviews__slider-card-text {
  margin-right: 8.6em;
}
.reviews__slider-card-text-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 5px;
}
.reviews__slider-card-text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  text-align: left;
  max-width: 30.5em;
}
.reviews__slider-card-content-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  max-width: 30.5em;
}

.email {
  background-image: url(img/email-bg.png);
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 4.3em 0;
  margin-bottom: 8.7em;
}
.email__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.9em;
}
.email__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  color: #ffffff;
  max-width: 39.6em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.3em;
}
.email__form {
  margin-right: auto;
  margin-left: auto;
  max-width: 46.4em;
  width: 100%;
}
.email__form-input {
  max-width: 46.4em;
  width: 100%;
  padding: 1.4em 1.8em;
  border-radius: 10px;
  border: none;
}
.email__form-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #2e6eff;
  border-radius: 10px;
  padding: 0.9em 1.8em;
  opacity: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 3.6em;
  left: 18.5em;
}
.email__form-button:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background-color: #30aaf5;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  max-width: 16.4em;
  margin-bottom: 1.5em;
}
.footer__group-logotype {
  max-width: 13.7em;
  width: 100%;
}
.footer__group-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__group-socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0.5em;
  background: #fe753f;
  border-radius: 15px;
  width: 1.8em;
  height: 1.8em;
  margin-right: 0.9em;
}
.footer__group-socials-item:last-child {
  margin-right: 0;
}
.footer__group-socials-item:hover {
  background-color: #9e3005;
}
.footer__group-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 1.5em;
}
.footer__group-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 0.9em;
}
.footer__group-link:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  color: #fe753f;
}
.footer__group-link:last-child {
  margin-bottom: 0;
}