* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  color: #030a1b;
}

.wrapper {
  background-color: #e5e5e5;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.1em;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4.3em;
}
.navigation__items-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  text-decoration: none;
  margin-right: 3.1em;
}
.navigation__items-item:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  color: #fe753f;
}
.navigation__items-item:last-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #2e6eff;
  border-radius: 5px;
  padding: 0.9em 1.8em;
  opacity: 1;
  margin-right: 0;
  max-width: 9.3em;
  width: 100%;
}
.navigation__items-item:last-child:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background-color: #30aaf5;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.2em;
}
.main__content-text {
  max-width: 34.8em;
  margin-right: 6.5em;
}
.main__content-title {
  font-weight: 600;
  font-size: 61px;
  line-height: 120%;
}
.main__content-subscription {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
  font-size: 18px;
  line-height: 27px;
}
.main__picture-img {
  max-width: 30.2em;
  width: 100%;
  max-height: 38.4em;
  border-radius: 10px;
}
.partners__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
  color: #030a1b;
  text-align: center;
  margin-bottom: 4em;
}
.partners__title::before {
  content: url(img/house-logo.svg);
  width: 3em;
  height: 3em;
  position: relative;
  left: 0.7em;
  top: 0.1em;
}
.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}